<h1>Whom do you want to Sting ?</h1>

<%@participations.each do |participation|  %>
  <%= link_to apply_card_challenge_card_path(@challenge, @card, {user_id: participation.user.id}) do %>
    <%= cl_image_tag participation.user.photo.key, class: "avatar" %>
  <% end %>
<% end %>
