<div class="container-form-cards">
  <div class="wrapper-card">
    <h1> <span class="background-color-black-text-yellow"> Who do you want to</span><br><span class="sting">Sting?</span></h1>

    <div class="card-size">
      <%= image_tag @card.action %>
    </div>
  </div>

  <div class="form-avatar">
    <%@participations.each do |participation|  %>
      <%= link_to apply_card_challenge_card_path(@challenge, @card, {user_id: participation.user.id}) do %>
        <%= cl_image_tag participation.user.photo.key, class: "avatar-large" %>
      <% end %>
    <% end %>
  </div>


  <p class="rules">+ Positive cards: make you work <strong>more</strong> <br>- Negative cards: make you work <strong>less</strong></p>


</div>
