// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light_gray: #F4F4F4;

$darker_blue: #03254c;
$dark_blue: #1167b1;
$our_blue: #187bcd;
$light_blue: #2a9df4;
$lighter_blue: #d0efff;
$our_yellow:#f1bf0a;
