
body {
  background: image-url('background.png');
}
.stingy-home {
  width: 350px;

}

.home-title {
  text-align: center;
  padding-top: 20px;

 h1 {
  color: #f5c20b;
  font-size: 100px;
  //font-style: bold;
  font-weight: 1000;
  letter-spacing: 8px;
  //text-shadow: black 6px 0px;
  }

}



.home-button {
  text-align: center;

}

// .bottom {
//   margin
// }
.question {
  color: white;
  font-size: 25px;
  padding: 20px;
  padding-top: 40px;
  text-align: center;
  padding-bottom: 20px;
}

// .home-title h1 {
//   font-size: 60px;
//   color: #f5c20b;
// }

.step-line {
  border-bottom: #f5c20b;
}

.container {
  object-fit: contain;

}

.home {
  margin-top: 140px;
  margin-bottom: 140px;
}

.steps {
  width: 100%;
}
