.avatar-profile {
  width: 100px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.75);
  margin-right: 20px;
  // border: black 15px solid;
}

.avatar-name {
  // display: flex;
  align-items: center;
  // justify-content: center;
  text-align: center;
  color: #f5c20b !important;
  display: flex;
  text-align: center;
  h1 {
    font-size: 20px;
  }
}


.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.854);
}
.avatar-large {
  width: 70px;
  height: 70px;
  border-radius: 50%;

}
.avatar-bordered {
  // width: 60px;
  // height: 60px;
  // border-radius: 50%;
  // box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  // border: $dark_blue 8px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-small{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
