.card {
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  padding: 7px 10px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 8px;
  margin-bottom: 20px;
  color: black;
  border: none;

  p {
    color: black;
  }
  border: none;
    a{
      text-decoration: none;

    }

}

.card h2 {
  font-size: 20px;
  // font-family: Amatic SC;
  color: black;
}



.avatar-name {
  font-size: 30px;
  // font-family: Amatic SC;
  color: $dark_blue ;
}

//challenge index 1st card

.welcome-mesage{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .user-pic{
    align-self: center;
  }
  .user-summary{
    margin-bottom: 0;

    text-align: center ;
    h2{
      font-size: 20px;
      color:  #f1bf0a;
    }
    p{
      color: grey;
      font-size: 14px;
      text-align: left;
      margin-bottom: 2px;
    }
  }
  .user-balance{
    align-self: center;
    h1{
       font-size: 60px;
       margin-bottom: 0;
       color: black;
    }
    p{
      color: grey;
      font-size: 12px;
      text-align: center;
    }
  }
}

//challenge index challenge cards
.challenge{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .circle-prog{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    background-color: white;
    padding-top: 15px ;

    .circle-progress{
      width: 100%;
      height: fit-content;
    }

    p{
      color: grey;
      margin-top: 10px;
      font-size: 12px;
      text-align: center;
    }

  }
  .challenge-summary{
    margin-left: 1rem;
    width: 65%;
    h2{
      font-size: 20px;
      color: black;
      text-decoration: underline ;
      text-decoration-color: $our_yellow;
    }
    p{
      color: grey;
      margin-bottom: 2px;
      font-size: 14px;
      text-align: left;
    }

  }

}

.cards {
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap: 16px;
}

@media(max-width:992px) {
	.cards{
	  grid-template-columns:1fr 1fr;
	}
	}

@media(max-width:768px){
	.cards{
	  grid-template-columns:1fr;
	}
}

.list-group{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

//show page share link
.share{
  a{
    text-decoration: none;
    color:grey;
  }
  text-align:right;
}


// messages
.message {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.message_content{
  margin-left:18px;
  font-size: 12px;
  display: inline-block;
  vertical-align: top;
}

.message_date{
  font-size: 12px;
  text-align: right;
  position: absolute;
  top: 5px;
  right: 18px;
}

.user_info {
  font-weight: bold;
  margin-left: -25px;
  margin-bottom: -10px;
}

.messagebox {
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  padding: 7px 10px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 500px;

  color: black;
  border: none;

  p {
    color: black;
  }
  border: none;
    a{
      text-decoration: none;

    }

}

.allmessages {
  height: 440px;
  overflow: scroll;
}


.message-user {
  background-color: #DEDEDE!important;
  width: 95%;
}

.message-current-user {
  background-color: #DEDEDE;

  border-radius: 10px;
  width: 95%;

}
// challenge show 1st card
.dashboard{
  margin-bottom: 20px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  //column-gap: 15px;
  justify-content:space-between;
  h1{
    font-size: 60px;
    margin-bottom: 0;
    color: black;
  }
  p{
    color: grey;
    font-size: 12px;
    text-align: center;
  }
  h2{
  font-size: 35px;
  margin-bottom: 0;
  color: black;
  }
  .remaining-days{
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    background-color: white;
    border-radius: 10px;
    //padding: 3px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;

  }
  .balance-info{
    width: 27%;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    .dashboard-item{
      box-shadow: 0 1px 2px rgba(0,0,0,0.2);
      background-color: $our_yellow;
      border-radius: 10px;
      //padding: 3px 15px;
      text-align: center;
      p {
        margin: 0;
        color: white;
        //font-weight: bold;
      }
    }
  }

}

.card-profile {
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.75);
  padding: 7px 10px;
  margin-left: 4px !important;
  margin-right: 4px !important;
  margin-top: 8px;
  margin-bottom: 20px;

.bio {
  p {
    font-size: 10px;
    margin-bottom: 0px;
    color: gray;
  }

  h2 {
    margin-bottom: -2px;
    margin-top: 5px;
    color: black;
  }
}
}
