.card {
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  padding: 7px 10px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 8px;
  margin-bottom: 20px;

  color: black;
  border: none;

  p {
    color: black;
  }
  border: none;
    a{
    text-decoration: none;

    }

}

.card h2 {
  text-size: 20px;
  // font-family: Amatic SC;
  color: $dark_blue;
}



.avatar-name {
  text-size: 30px;
  // font-family: Amatic SC;
  color: $dark_blue ;
}

//challenge index 1st card

.welcome-mesage{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .user-pic{
    align-self: center;
  }
  .user-summary{
    margin-bottom: 0;
    h2{
      font-size: 20px;
    }
    p{
      color: grey;
    }
  }

}

//challenge index challenge cards
.challenge{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .progress{
    align-self: center;
    width: 30%;
    height: 150px;
    align-items: center;
    background-color: white;
    margin-right: 3px;
    img{
      width:100px;
      height: 100px;
    }

  }
  .challenge-summary{
    margin-left: 2px;
    h2{
      font-size: 20px;
    }
    p{
      color: grey;
    }
  }

}

.list-group{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

//show page share link
.share{
  a{
    text-decoration: none;
    color:grey;
  }
  text-align:right;
}
