.card {
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  padding: 7px 10px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 8px;
  margin-bottom: 20px;

  border: none;
}

.card h2 {
  text-size: 20px;
  // font-family: Amatic SC;
  color: $dark_blue;
}

.avatar-name {
  text-size: 30px;
  // font-family: Amatic SC;
  color: $dark_blue ;
}
