.circle-progress-value {
	stroke-width: 6px;
	stroke: $dark_blue;
  //stroke: #59A2B0;
  stroke: #f1bf0a;
	stroke-dasharray: 25 5;
}
.circle-progress-circle {
	stroke-width: 6px;
	stroke: #eee;
}
.circle-progress-text {
	font-weight: bold;
  font-size: larger;
	fill: black;
}


// cirlce with the avatar inside

.image-percent {

    .avatar-progress {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    align-items: center !important;
    }

  .imgfondo{
      z-index: 100 !important;
      position: relative;
      margin: 20px;

    }

    .stack-top {
      z-index: 0 !important;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);


    }

  }

  .weekly-prog{
    display: flex;
    flex-direction: row;
    .wrapping{
      display: flex;
      flex-direction: column;
      .weekly-value{
        text-align: center;
        font-size: 12px;
      }
    }

  }
