.circle-progress-value {
	stroke-width: 6px;
	stroke: $dark_blue;
	stroke-dasharray: 25 5;
}
.circle-progress-circle {
	stroke-width: 6px;
	stroke: #eee;
}
.circle-progress-text {
	font-weight: bold;
  font-size: larger;
	fill: $dark_blue;
}


// cirlce with the avatar inside

.image-percent {

    .avatar-progress {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    align-items: center !important;


  }

  .imgfondo{
      z-index: 100 !important;
      position: relative;
      margin: 20px;

    }

    .stack-top {
      z-index: 0 !important;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);


    }

  }
