.flatpickr-day.startRange {
  background: $our_yellow ! important;
  border-color: $our_yellow ! important;
}
.flatpickr-day.endRange {
  background: $our_yellow! important;
  border-color: $our_yellow ! important;
}
