.form-control:focus {
  border-color: #289df4;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(196, 24, 173, 0.705) ;
}

.wrapper-signup{
  color:white !important;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;

  a {
    color: white;
    text-decoration: none;
  }
 }

 body {
  color:white;
 }

// //  .form-action {
// //   color: white;
// }
 .signup{
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  position: relative;
  border-radius: 5px;
  width: fit-content;
  margin-top: 30px;
  padding-bottom: 40px;
  padding-top: 40px;

 h2 {
  color: #f1bf0a;
 }
 }
  h1{
    margin-top: 20px;
    color: #f1bf0a

  }

  .form-inputs {
  color: white;

  }

  .form-color {
    color: white;
  }

//   .container {
//  padding-bottom: 40px;
//  padding-top: 40px;

//  h2 {
//   color: #f1bf0a;
//  }

//   }

// this is for the change password form
