
.progress{
  margin-bottom: 4px;
  margin-top: 5px;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;


}

.progress-bar{
  background-color: $our_yellow;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  column-gap: 10px;
  // z-index:100;
  // position: relative;

  .icon {
    // z-index: 10;
    // position: absolute;

    // text-align: right;
    margin-right: -3px;
  }
  .value{
    text-align: center;
    color: black;
    //position: relative;
  }

}
