<div class="form-group msg-form">
  <%= form_with(model: [@challenge ,@message], remote: true, class: "d-flex" ) do |f| %>
    <%= f.text_field :content, class: "form-control msg-content", autocomplete: 'off' %>
    <%= f.submit data: { disable_with: false }, class: "btn btn-message" %>
  <% end %>
</div>
